---
layout: page
---

can I write here?

love you

* Presidential Fellowship Award 2020    &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;  &ensp;      University at Albany

* Excellent Graduate Student   &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;  &ensp;   Xidian University

* 2017 First Class Graduate Student Scholarship  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &ensp;  &ensp;  Xidian University

* 2016 Second Class Graduate Student Scholarship  &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;   Xidian University

* 2016 Third Class Scholarship  &emsp; &emsp;  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;   Xidian University

* 2015 Third Class Scholarship  &emsp; &emsp;  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;  Xidian University

* 2014 Third Class Scholarship  &emsp; &emsp;  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;  Xidian University

* 2013 Third Class Scholarship  &emsp; &emsp;  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;  Xidian University




{% include home-header.html %}

<article class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</article>


<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
